---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Why from "../components/Why";
import Browse from "../components/Browse";
import Team from "../components/Team";
import Blog from "../components/Blog";
import Community from "../components/Community";
---

<Layout title="qwe">
  <main>
    <Hero client:load />
    <Why client:visible />
    <Browse client:visible />
    <Team client:visible />
    <Blog client:visible />
    <Community client:visible />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
</style>
