---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Why from "../components/Why";
import Browse from "../components/Browse";
import Team from "../components/Team";
import Blog from "../components/Blog";
import Community from "../components/Community";
---

<Layout title="uwucrew anime art by uwu Labs">
  <main>
    <Hero client:load />
    <Why client:idle />
    <Browse client:idle />
    <Team client:idle />
    <Blog client:idle />
    <Community client:idle />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
</style>
