.browse {
  width: 100%;
  height: 400vh;
  background: teal;
  position: relative;
}

.browse-content {
  width: 100%;
  height: 100vh;
  display: absolute;
  top: 0;
  left: 0;
  background: pink;
  background: linear-gradient(
      209.82deg,
      #f6c3d9 -5.27%,
      #f4f5f6 53.63%,
      #f4f5f6 53.64%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  padding: 4.8rem 8rem;
  display: flex;
  align-items: left;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.browse-content > div {
  z-index: 2;
}

.browse-content > h2 {
  z-index: 2;
}

.browse-header {
  color: var(--main);
  font-size: 8.8rem;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.088rem;
  margin-bottom: 2.4rem;
  max-width: 81.4rem;
}

.browse-image {
  position: absolute;
}
