.browse {
  width: 100%;
  height: 400dvh;
  position: relative;
}

.browse-content {
  width: 100%;
  height: 100dvh;
  display: absolute;
  top: 0;
  left: 0;
  background: pink;
  background: linear-gradient(
      209.82deg,
      #f6c3d9 -5.27%,
      #f4f5f6 53.63%,
      #f4f5f6 53.64%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  padding: 4.8rem 8rem;
  display: flex;
  align-items: left;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 900px) {
  .browse-content {
    padding: 4rem 2.4rem;
  }
}

.browse-content > div {
  z-index: 2;
}

.browse-content > h2 {
  z-index: 2;
}

.browse-highlight {
  position: absolute;
  bottom: -5rem;
  left: 6rem;
  width: 60%;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  filter: blur(200px);
}

@media (max-width: 900px) {
  .browse-highlight {
    left: 0;
    width: 100%;
  }
}

.browse-header {
  color: var(--main);
  font-size: 8.8rem;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.088rem;
  margin-bottom: 2.4rem;
  max-width: 81.4rem;
}

@media (max-width: 900px) {
  .browse-header {
    font-size: 4.8rem;
    margin-bottom: 3.2rem;
    max-width: none;
  }
}

.browse-image-container {
  position: absolute;
  transition: transform 0.1s;
}

.browse-image {
  width: 100%;
}

@media (max-width: 900px) {
  .browse-image {
    transform: scale(2.5);
    transform-origin: top center;
  }
}

.browse-image-credit {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.25rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  transform: translateY(0);
}