.community {
  width: 100%;
  height: 100dvh;
  background: #5D9875;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 8rem;
}

@media (max-width: 900px) {
  .community {
    padding: 6rem 0;
  }
}

.community-left-glow {
  position: absolute;
  width: 50%;
  height: 100dvh;
  top: 70%;
  left: -12.5%;
  background: #A5BFA5;
  border-radius: 50%;
  filter: blur(200px);
}

.community-right-glow {
  position: absolute;
  width: 50%;
  height: 100dvh;
  top: 70%;
  right: -12.5%;
  background: #A5BFA5;
  border-radius: 50%;
  filter: blur(200px);
}

.community-top-glow {
  position: absolute;
  width: 100%;
  height: 100dvh;
  top: -50%;
  left: 0;
  background: #5D9875;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #A5BFA5 0%,
    rgba(115, 215, 232, 0) 100%
  );
}

@media (max-width: 900px) {
  .community-top-buffer {
    display: none;
  }
}

.community-content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6vh;
}

@media (max-width: 900px) {
  .community-content {
    padding-bottom: 0px;
  }
}

.community-content-image {
  width: 25rem;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .community-content-image {
    width: 16rem;
  }
}

.community-content-header {
  font-size: 8.8rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
  width: 80rem;
  text-align: center;
  line-height: 100%;
  color: #ffffff;
}

@media (max-width: 900px) {
  .community-content-header {
    font-size: 4.8rem;
    width: 100%;
  }
}

.community-footer {
  position: absolute;
  bottom: 25px;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .community-footer {
    flex-direction: column;
  }
}

.community-footer-text {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 900px) {
  .community-footer-text {
    margin-bottom: 0.6rem;
  }
}

.community-footer-socials {
  display: flex;
  align-items: center;
  margin: auto;
}

.community-footer-social-link {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.community-footer-social-link:hover {
  transform: scale(1.15);
}

.community-footer-social-image {
  height: 2.8rem;
  margin-left: 1.2rem;
}

.community-footer-social-image.white-icon {
  filter: brightness(0) invert(1);
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.community-desktop-uwu-container {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 8px 24px 0px rgba(165, 191, 165, 0.5),
    0px 12px 72px 0px rgba(165, 191, 165, 0.8);
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

@media (max-width: 900px) {
  .community-desktop-uwu-container {
    display: none;
  }
}

.community-mobile-uwu-container {
  display: none;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 8px 24px 0px rgba(165, 191, 165, 0.5),
    0px 12px 72px 0px rgba(165, 191, 165, 0.8);
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

@media (max-width: 900px) {
  .community-mobile-uwu-container {
    display: block;
  }
}

.community-uwu {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.community-animated {
  animation: grow 0.5s ease-in-out forwards;
}
