.styled-derivative-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  z-index: 2;
}

.derivative-popup-background {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.derivative-popup-popup {
  position: relative;
  height: 100%;
  display: flex;
  background-color: white;
  max-width: calc(100% - 2rem);
}

@media (max-width: 1024px) {
  .derivative-popup-popup {
    flex-direction: column;
    height: auto;
  }
}

.derivative-popup-image {
  height: 100%;
}

@media (max-width: 1024px) {
  .derivative-popup-image {
    height: auto;
    width: 100%;
  }
}

.derivative-popup-sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-width: 25rem;
  padding-top: 8rem;
}

@media (max-width: 1024px) {
  .derivative-popup-sidebar {
    padding: 2rem;
    padding-top: 2rem;
  }
}

.derivative-popup-row {
  display: flex;
  align-items: center;
}

.derivative-popup-header {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
}

.derivative-popup-link {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: underline;
}
