.container {
  position: relative;
  margin: 1rem;
  overflow: hidden;
  border-radius: 24px;
}

.image {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay:hover > button {
  opacity: 1;
}

.overlay:hover > div {
  transform: translateY(0);
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.7) 100%
  );
  cursor: zoom-in;
  transition: opacity 0.3s;
  opacity: 0;
}

.overlay-row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: transform 0.3s;
}

.top-row {
  transform: translateY(-200%);
}

.bottom-row {
  transform: translateY(200%);
}

.link {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
