.header {
  width: 100%;
  padding: 2.5rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
  align-items: center;
}

.logo {
  height: 5rem;
  margin-right: 1.6rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 1.6rem;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}
