.container {
  width: 100%;
  flex: 1;
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0 2.4rem;
    margin-top: 2rem;
  }
}

.hero-column {
  display: grid;
  grid-template-columns: 2;
  grid-gap: 3.3rem;
}

.hero-content-header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  max-width: 41.6rem;

  @media (max-width: 768px) {
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 2rem;
  }
}

.socials-container {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.hero-content-text {
  font-size: 2rem;
  max-width: 52.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: var(--sub);
}

.socials-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--sub);
}

.social {
  margin-left: 1rem;
  height: 1.8rem;
}
