.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  background: linear-gradient(
    180deg,
    #f5dce8 0%,
    #fcfdff 8.33%,
    #fcfdff 88.02%,
    #f5dce8 100%
  );

  @media (max-width: 900px) {
    height: auto;
  }
}

@media (min-width: 801px) {
  .hero::before {
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: var(--primary);
    content: "╲╱";
    font-size: 2rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
