.hero-banners {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
  overflow: hidden;

  @media (max-width: 768px) {
    padding-top: 1.6rem;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.banner-top {
  width: calc((24rem + 2.4rem) * 40);
  display: flex;
  margin-bottom: 2.4rem;

  animation: slide-right 45s linear infinite;

  @media (max-width: 768px) {
    width: calc((17rem + 1.6rem) * 40);
    margin-bottom: 1.6rem;
  }
}

.banner-top:hover {
  animation-play-state: paused;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.banner-bottom {
  width: calc((24rem + 2.4rem) * 40);
  display: flex;
  margin-bottom: 2.4rem;

  animation: slide-left 45s linear infinite;

  @media (max-width: 768px) {
    width: calc((17rem + 1.6rem) * 40);
    margin-bottom: 1.6rem;
  }
}

.banner-bottom:hover {
  animation-play-state: paused;
}

.uwu-container {
  height: 24rem;
  width: 24rem;
  margin: 0 1.2rem;
  overflow: hidden;
  border-radius: 2.4rem;

  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  @media (max-width: 768px) {
    height: 17rem;
    width: 17rem;
    margin: 0 0.8rem;
  }
}

.uwu-container:hover {
  transform: scale(1.15);
  z-index: 10;

  @media (max-width: 768px) {
    transform: scale(1.15);
  }
}

.uwu {
  height: 100%;
  width: 100%;
}
