.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13rem 8rem;
  background: linear-gradient(203deg, #f4f5f6 0%, #a7e6f1 100%);
}

.team-header {
  color: var(--main);
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 6.5rem;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 9rem;
  width: 100%;
  max-width: 130rem;
}

.team-member {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team-member-image {
  width: 100%;
  border-radius: 2.4rem;
  margin-bottom: 1.5rem;
}

.team-member-name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.team-member-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.team-member-socials {
  display: flex;
  grid-gap: 0.6rem;
}

.team-member-social-link {
  cursor: pointer;
}

.team-member-social-image {
  height: 2.4rem;
}
