.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13rem 8rem;
  background: linear-gradient(203deg, #f4f5f6 0%, #a7e6f1 100%);
}

@media (max-width: 900px) {
  .team {
    padding: 6.4rem 2.4rem;
    background: linear-gradient(
      180deg,
      #a7e6f1 0%,
      #f4f5f6 9.38%,
      #f4f5f6 89.58%,
      #a7e6f1 100%
    );
  }
}

.team-header {
  color: var(--main);
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 6.5rem;
}

@media (max-width: 900px) {
  .team-header {
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
  }
}

.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.4rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 9rem;
  width: 100%;
  max-width: 130rem;
}

@media (max-width: 900px) {
  .team-members {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.6rem;
    grid-row-gap: 4.8rem;
  }
}

.team-member {
  perspective: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team-member-image-container {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.75s;
  position: relative;
  width: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  .team-member-image-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.6rem;
    border-radius: 1.12rem;
  }
}

.team-member-image {
  transform: rotateY(0deg);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 1;
  transition: opacity 0.75s;
}

.team-member-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transform: rotateY(180deg);
  opacity: 0;
  transition: opacity 0.75s;
}

.team-member:hover .team-member-image-container,
.team-member.active .team-member-image-container {
  transform: rotateY(180deg);
}

.team-member:hover .team-member-image-container .team-member-image,
.team-member.active .team-member-image-container .team-member-image {
  opacity: 0;
}

.team-member:hover .team-member-image-container .team-member-image-overlay,
.team-member.active .team-member-image-container .team-member-image-overlay {
  opacity: 1;
}

.team-member-image-overlay > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.team-member-image-overlay-credit {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  transition: transform 1s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  transform: translateY(200%);
}

.team-member:hover .team-member-image-overlay-credit {
  transform: translateY(0);
}

.team-member.active .team-member-image-overlay-credit {
  transform: translateY(0);
}

.team-member-name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .team-member-name {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
}

.team-member-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .team-member-title {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
}

.team-member-socials {
  display: flex;
  grid-gap: 0.6rem;
}

@media (max-width: 900px) {
  .team-member-socials {
    grid-gap: 1rem;
  }
}

.team-member-social-link {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.team-member-social-link:hover {
  transform: scale(1.15);
}

.team-member-social-image {
  height: 2.4rem;
}

@media (max-width: 900px) {
  .team-member-social-image {
    height: 2rem;
  }
}
