.why-fixed {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--main);
  overflow: hidden;
}

.why-gradient {
  position: absolute;
  height: 40rem;
  width: 40rem;
  position: absolute;
  top: -20rem;
  right: -10rem;
  background: pink;
  filter: blur(200px);
  border-radius: 50%;
}

.why-cover {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(
    0deg,
    var(--main) 0%,
    transparent 50%,
    transparent 100%
  );
}

.why-fixed-image-container {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.why-fixed-image {
  min-height: 100%;
  min-width: 100%;
}

.why {
  position: relative;
  width: 100%;
}

.why-content {
  position: relative;
  width: 50%;
  transform: translateX(100%);
  padding: 14rem 10%;
}

.why-header {
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--primary);
}

.why-sub-header {
  max-width: 30rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 4rem;
  margin-top: 16rem;
  color: var(--bg);
}

.why-text {
  max-width: 41rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: var(--bg);
  opacity: 0.6;
}

.why-buffer {
  height: 28rem;
}
