.why-fixed {
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background: var(--main);
  overflow: hidden;

  @media (max-width: 900px) {
    display: none;
  }
}

.why-gradient {
  position: absolute;
  height: 40rem;
  width: 40rem;
  top: -20rem;
  right: -10rem;
  background: pink;
  filter: blur(200px);
  border-radius: 50%;
}

.why-cover {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 100dvh;
  background: linear-gradient(
    0deg,
    var(--main) 0%,
    transparent 50%,
    transparent 100%
  );

  @media (max-width: 900px) {
    display: none;
  }
}

.why-fixed-image-container {
  position: relative;
  width: 50%;
  height: 100dvh;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.why-fixed-image {
  position: absolute;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transition: opacity 0.3s;
}

.why-active {
  opacity: 1;
}

.why {
  position: relative;
  width: 100%;
}

.why-content {
  position: relative;
  width: 50%;
  transform: translateX(100%);
  padding: 14rem 10%;

  @media (max-width: 900px) {
    width: 100%;
    transform: none;
    background: #141414;
    padding: 6.4rem 2.4rem;
  }
}

.why-header {
  font-size: 6.4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--primary);

  @media (max-width: 900px) {
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
  }
}

.why-sub-header {
  max-width: none;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 3rem;
  margin-top: 16rem;
  color: var(--bg);

  @media (max-width: 900px) {
    max-width: none;
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
    margin-top: 2.4rem;
  }
}

.why-mid-sub-header {
  max-width: none;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 3rem;
  margin-top: 18rem;
  color: var(--bg);

  @media (max-width: 900px) {
    max-width: none;
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
    margin-top: 2.4rem;
  }
}

.why-image-container {
  position: relative;
  display: none;
  width: 100%;
  border-radius: 2.4rem;
  max-height: 40rem;

  @media (max-width: 900px) {
    display: block;
  }
}

.why-image {
  display: none;
  width: 100%;
  border-radius: 2.4rem;
  max-height: 40rem;
  object-fit: cover;
  object-position: top;

  @media (max-width: 900px) {
    display: block;
  }
}

.why-image-credit {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;

  transition: transform 1s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  transform: translateY(0);
}

.why-text {
  max-width: 41rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: var(--bg);
  opacity: 0.6;

  @media (max-width: 900px) {
    max-width: none;
    line-height: 2.8rem;
    margin-bottom: 4.8rem;
  }
}

.why-buffer {
  height: 30rem;

  @media (max-width: 900px) {
    display: none;
  }
}
