---
import { SEOMetadata } from 'astro-seo-metadata';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-7M9FKP2465"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7M9FKP2465');
    </script>
    <!-- Astro -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/zgg7qni.css" />

    <!-- SEO -->
    <SEOMetadata
      siteName={'uwucrew'}
      title={'Welcome to uwucrew!'}
      description={'Immerse yourself into the future of anime art ✨ Become part of a global effort to empower creativity 🎨🌈'}
      image={'og-image.jpg'}
      favicon={'/favicon.ico'}
      author="uwucrew"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={'website'}
      astroGenerator={true}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --main: #1c1f22;
    --bg: #f4f5f6;
    --sub: #545357;
    --primary: #f2a7c8;
  }

  * {
    font-family: "como", sans-serif;
    color: var(--main);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-transform: lowercase;
  }
  button {
    background: none;
    border: none;
    outline: none;
  }

  input {
    border: none;
    outline: none;
  }

  a {
    text-decoration: none;
  }
</style>
